<!-- Loop over each blog in the blog array -->
{{#each blogs as |blog| }}
  {{> blogdetails}}
{{/each}}

<!-- Loop over each comment in the comment array -->
{{#each comments as |comment| }}
<div class="row mb-4 comment">
  <div class="col-md-5">
    <h2>
      <a href="/comment/{{comment.id}}">{{comment.title}}</a>
    </h2>
    <p>Created by {{comment.user.name}} on {{comment.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{comment.contents}}
    </p>
  </div>
</div>
{{/each}}
